@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
.center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
  }

body {
  font-family: "Montserrat", sans-serif;
   
}

.header {
    /*padding-left: 120px;*/
    height: 1024px;
    background-image: url(img/header.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__inform {
        display: flex;
        flex-direction: column;
    }

    &__title{
        padding-top: 217px;
        padding-bottom: 32px;
        color: #FFF;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 788.778px;
        /*height: 125.007px;  возможно не нужно*/
        text-align: left;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 481px;
        text-align: left;
        &_bolt {
            font-weight: bold;
        }
    }

    &__button {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        width: 234.063px;
        height: 48.603px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 44px;
        &:hover {
            background: #EB443F;
           
        }
    }     
} 

.games {   
    background-color: black;
    min-height: 556px;    
    background-position: center;
    background-size: cover; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
  
    &__cart {
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        gap: 32px;  
    } 
    &__item {
        background-repeat: no-repeat;    
        border-radius: 16px;
        height: 300px;
        position: relative; 
        transition: borber 0.2s ease-in;
        height: auto;
        img {
            max-width: 100%;
        }
        &:hover {
            border: 3px solid #44D2FF;
        }
        &_1 {
            border-radius: 18px;
        }
        &_2 {
            border-radius: 18px;
        }
        &_3 {
            border-radius: 18px;
        }    
    }
    &__item-text {
        position:absolute;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;       
        top: 236px;
        left: 32px;
    }
}

//Игра - Времена года

.games{

    &__seasons {
        background-color: black;   
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        overflow: auto;
        justify-content: space-between;
        gap: 135px;
       

    }

    &__inform {
        padding-top: 282px;
        padding-bottom: 282px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    &__title {
        color: #FFF;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 584px;
        //padding-top: 32px;
        //padding-bottom: 32px;
    }

    &__button {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 30px;
        background: #9C0332;
        width: 234.063px;
        height: 48.603px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      
        &:hover {
            background: #EB443F;
           
        }

    &__logo {
        width: 485px;
        height: 333px;
       

        
    }

    }
}








@import "mobile";


