@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  /*padding-left: 120px;*/
  height: 1024px;
  background-image: url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__inform {
  display: flex;
  flex-direction: column;
}
.header__title {
  padding-top: 217px;
  padding-bottom: 32px;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 788.778px;
  /*height: 125.007px;  возможно не нужно*/
  text-align: left;
}
.header__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 481px;
  text-align: left;
}
.header__text_bolt {
  font-weight: bold;
}
.header__button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 44px;
}
.header__button:hover {
  background: #EB443F;
}

.games {
  background-color: black;
  min-height: 556px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.games__cart {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
}
.games__item {
  background-repeat: no-repeat;
  border-radius: 16px;
  height: 300px;
  position: relative;
  transition: borber 0.2s ease-in;
  height: auto;
}
.games__item img {
  max-width: 100%;
}
.games__item:hover {
  border: 3px solid #44D2FF;
}
.games__item_1 {
  border-radius: 18px;
}
.games__item_2 {
  border-radius: 18px;
}
.games__item_3 {
  border-radius: 18px;
}
.games__item-text {
  position: absolute;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  top: 236px;
  left: 32px;
}

.games__seasons {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  overflow: auto;
  justify-content: space-between;
  gap: 135px;
}
.games__inform {
  padding-top: 282px;
  padding-bottom: 282px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.games__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.games__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 584px;
}
.games__button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.games__button:hover {
  background: #EB443F;
}
.games__button__logo {
  width: 485px;
  height: 333px;
}

@media (max-width: 500px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-position: 31%;
    display: flex;
    justify-content: center;
    height: 735px;
    text-align: center;
  }
  .header__inform {
    align-items: center;
  }
  .header__title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 343px;
    padding-bottom: 32.95px;
    padding-top: 238px;
  }
  .header__text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .header__button {
    margin-top: 32.95px;
    text-align: center;
  }
  .games {
    padding-top: 128px;
    padding-bottom: 128px;
  }
  .games__item-text {
    bottom: 32px;
    top: unset;
    left: 16px;
  }
  .games__seasons {
    display: flex;
    justify-content: center;
    gap: unset;
  }
  .games__inform {
    padding-top: unset;
    padding-bottom: unset;
    padding-top: 51px;
    align-items: center;
  }
  .games__title {
    font-size: 32px;
  }
  .games__text {
    font-size: 14px;
    text-align: center;
    width: 343px;
  }
  .games__logo {
    padding-top: 64px;
    margin-bottom: 85px;
  }
  .games__logo_svg-seasons {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */